*{
    padding: 0;
    margin: 0;
}

body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #4158D0; 
   background:no-repeat linear-gradient(43deg, #4158D0 0%, #C850C0 30%, #FFCC70 66%, #ffffff 100%);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 400px;
    border-radius: 20px;
   box-shadow: 2px 2px 14px 5px wheat;
}

.pick_color{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    font-size: 25px;
    border-radius: 35%;
    box-shadow: 0px 0px 15px 4px  wheat;
    background-color:black;
}

.range{
    width: 250px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bolder;
}

.range input{
    width: 200px;
    cursor: pointer;
}

.RGB{
    height: 40px;
    font-size: 25px;
}

button{
    width: 125px;
    height: 45px;
    font-size: 25px;
    border-radius: 25px;
    background: transparent;
    border-color:wheat;
    cursor: pointer;
}

